@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

:root {
  --background-color: #efece5;
  --secondary-background-color: #f9f9f8;
  --primary-color: #e9bfe4;
  --secondary-color: #b7b8ea;
  --tertairy-color: #e0cedc;
  --primary-text-color: #38373f;
  --secondary-text-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--background-color);
  color: var(--primary-text-color);
  font-family: "Nunito", sans-serif;
}

form {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
}
form > input {
  width: 100%;
  border: 2px solid var(--primary-color);
  border-radius: 4px;
  padding: 12px;
  margin-bottom: 0.5rem;
}

form > input:focus {
  border-color: var(--secondary-color);
  outline: none;
}

form > button {
  margin: 0.5rem 0;
}

form > label {
  font-weight: bold;
}

hr {
  border-top: 1px solid var(--tertairy-color);
  margin: 1.5rem 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5rem 2rem;
}

.container ul {
  width: 100vw;
  max-width: 600px;
  list-style: none;
  background-color: var(--secondary-background-color);
  padding: 0 2rem;
  border-radius: 10px;
}

.container ul > li {
  text-decoration: none;
  margin: 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--primary-color);
  padding: 0.8rem 1.6rem;
  color: var(--secondary-text-color);
}

.navbar ul {
  display: flex;
  gap: 20px;
}

.navbar ul > li {
  list-style: none;
}

.navbar ul > li > a {
  color: var(--secondary-text-color);
  text-decoration: none;
  font-weight: bold;
}

.navbar ul > li > a:hover {
  opacity: 0.7;
}

.navbar .logo {
  font-family: "Pacifico", cursive;
  font-size: 2.5rem;
}

.page-title {
  font-size: 3.5rem;
  font-weight: bold;
  margin: 0 0 2rem 0;
}

.big-title {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

.small-title {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}

.submit-title {
  font-size: 2rem;
  margin: 1.7rem 0 4rem 0;
}

.bold {
  font-weight: bold;
}

.btn {
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  background-color: var(--secondary-color);
  color: var(--secondary-text-color);
  font-weight: bold;
  font-family: "Nunito", sans-serif;
}

.big-btn {
  margin: 1.7rem;
  padding: 1rem 3rem;
  font-size: large;
}

.close-btn {
  width: 100%;
  background-color: var(--tertairy-color);
}

.btn:hover {
  padding: 0.5rem 0.6rem;
  opacity: 0.7;
  font-weight: normal;
}

.big-btn:hover {
  padding: 1rem 3.1rem;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.details-padding {
  padding: 2rem 1.5rem 2.5rem 1.5rem;
}

.center {
  z-index: 5;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  position: fixed;
  display: flex;
  justify-content: center;
}

/*Mobile Styling*/
@media screen and (max-width: 600px) {
  .container {
    margin: 2rem;
  }

  .navbar {
    flex-direction: column;
  }

  .logo {
    text-align: center;
  }

  .page-title {
    text-align: center;
  }

  .submit-title {
    text-align: center;
    margin: 1.7rem 0;
  }

  .space-between {
    display: block;
    margin: 0.5rem 0;
  }

  .details-padding {
    padding: 1rem 0 2.5rem 0;
  }
}